<h1>{{model.name}}</h1>
<p>{{model.description}}</p>
<p>This is served at: {{model.restaurant.name}} as a {{model.course}}.</p>
{{icon-image model.imageUrl}}<br>
{{link-to 'Edit this food' 'foods.food.edit' model.id}}
<button {{action 'destroyItem' model}}>Destroy</button>